@media (max-width: 390px) { /* iPhone 13 screen size */
    .quote1,
    .quote2 {
        font-size: 15px;
    }

    .quote1 {
        top: 60%;
    }

    .quote2 {
        top: 65%;
    }

    .catchText h1 {
        margin-top: 30px;
    }


    .catchText h2 {
        font-size: 10px;
        padding: 10px;
        margin-top: 5px;
    }

    .learnMore {
        top: 44%;
    }

    .subText p {
        margin-top: 80px;
    }

    .verticalLine {
        top: 60%;
    }
}